NODE_ENV=development
NODE_PORT=5122
LOG_LEVEL=debug
DOTENV_CONFIG_QUIET=true
RATE_LIMIT_ENABLED=true

ALLOWED_ORIGINS="https://eventdev.org,http://app:5173,http://postgres-db:5432,http://supertokens-auth:3567,http://redis-cache:6379"
WEBSITE_DOMAIN="http://localhost:3000"

POSTGRES_DB=gt_dev
POSTGRES_USER=devevent
POSTGRES_PASSWORD=SENHA_SEGURA_DEV

DATABASE_ENGINE=postgres
DATABASE_URL="postgresql://devevent:SENHA_SEGURA_DEV@localhost:5432/gt_dev?schema=public"
DATABASE_PORT=5432

PRISMA_STUDIO_PORT=5555
PRISMA_HIDE_UPDATE_MESSAGE=true

SUPERTOKENS_PORT=3567

SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER="eventdevcommunities@gmail.com"
SMTP_PASS="Senha de App (Ex: abcd efgh ijkl rmno)"
SMTP_FROM_NAME="EventDev (Não Responda)"
SMTP_FROM_EMAIL="eventdevcommunities+noreply@gmail.com"
SMTP_REPLY_TO="no-reply@eventdev.org"
